<div class="about-us container p-5" id="about-us">
    <div class="section-title mb-5">
        ABOUT US
    </div>
    <div class="section-content">
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam asperiores at debitis, eos expedita, explicabo harum illum in incidunt ipsa, maiores nemo neque obcaecati odio perferendis quae quaerat quam quia quod sunt ullam vitae. Assumenda ducimus eveniet ipsum laboriosam laudantium, magni natus necessitatibus, provident quas quis sed sequi velit.
        </div>
    </div>
</div>