<section class="container-fluid bg-light">
    <div class="services container p-5" id="services">
        <div class="section-title mb-5">
            OUR SERIVECE
        </div>
        <div class="section-content text-center">
            <div class="row">
                <div class="col-lg-4 px-3 py-3 search-card-container">
                    <div class="service-card" id="service-card-1" >
                        <div class="img-container mb-3">
                            <div class="img"></div>
                        </div>
                        <div class="title">Who is Innovator?</div>
                        <div class="description p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis optio quaerat reprehenderit voluptate. Fuga, veritatis.</div>
                        <button class="btn btn-primary rounded-pill">Learn More</button>
                    </div>
                </div>
                <div class="col-lg-4 px-3 py-3 search-card-container">
                    <div class="service-card" id="service-card-2" >
                        <div class="img-container mb-3">
                            <div class="img"></div>
                        </div>
                        <div class="title">Who is Innovator?</div>
                        <div class="description p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis optio quaerat reprehenderit voluptate. Fuga, veritatis.</div>
                        <button class="btn btn-primary rounded-pill">Learn More</button>
                    </div>
                </div>
                <div class="col-lg-4 px-3 py-3 search-card-container">
                    <div class="service-card" id="service-card-3" >
                        <div class="img-container mb-3">
                            <div class="img"></div>
                        </div>
                        <div class="title">Who is Innovator?</div>
                        <div class="description p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis optio quaerat reprehenderit voluptate. Fuga, veritatis.</div>
                        <button class="btn btn-primary rounded-pill">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>