<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>YourPath</h5>
                <p>This is tagline</p>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Follow Us</h5>

                <ul class="list-unstyled mb-4 d-flex mx-5 justify-content-between">
                    <li class="mx-2">
                        <a href="#!" class="text-dark"><i class="fa fa-facebook-square fa-lg"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="mx-2">
                        <a href="#!" class="text-dark"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="mx-2">
                        <a href="#!" class="text-dark"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li class="mx-2">
                        <a href="#!" class="text-dark"><i class="fa fa-linkedin-square fa-lg"
                                aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="d-flex flex-column">
                    <div class="mb-2">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                        <p style="display: inline;" class="h5">Location</p>
                    </div>
                    <a href="#!" class="text-dark text-decoration-none">Shetan gali, shamshan ke saamne</a>
                </div>
            </div>
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                        <a href="tel:" class="text-dark text-decoration-none">+91 99999 99999</a>
                    </li>
                    <li class="mb-2">
                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                        <a href=" #!" class="text-dark text-decoration-none">email@example.com</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->